# Dependencies
node_modules/
.pnpm-store/

# Next.js build outputs
apps/*/.next/
apps/*/out/

# Environment variables (JANGAN commit ke git!)
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo
apps/*/next-env.d.ts

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
